body {
    background-color:#FFFFF0;
}

h1 {
    margin: 25px 0 25px 0;
    font-family: 'Poiret One', cursive;
}

h4 {
    font-family: sans-serif;
    font-weight: 400;
}

p {
    font-family: sans-serif;
    font-weight: lighter;
}

#enter-jobs {
    background-color: #EEEB8D;
    border: 1px dotted black;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    display:inline-block;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;

}

#instructions {
    border: 1px dashed #D9D919;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

form {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

input, select {
    background-color: #EEEB8D;
}

.last-name {
    font-weight: 400; 
}