{% extends 'base.html' %}
{% block title %}Ur Madlib!{% endblock %}
{% block content %}
   
   There once was a <span class="fun-word">{{ adjective }}</span> <span class="fun-word">{{ color }}</span> who wanted to be more like <span class="fun-word">{{ famous }}</span>.
   <span class="fun-word">{{ color }}</span> got a job opportunity in <span class="fun-word">{{ place }}</span> working for <span class="fun-word">{{ famous }}</span>.
   But when she got there, she realized her only job was to get <span class="fun-word">{{ food }}</span> for lunch!
   Luckily, <span class="fun-word">{{ heroine }}</span> came to <span class="fun-word">{{ place }}</span> looking for a <span class="fun-word">{{ noun }}</span>.
   <span class="fun-word">{{ color }}</span> was the only person who owned a <span class="fun-word">{{ noun }}</span>.
   <span class="fun-word">{{ heroine }}</span> met the <span class="fun-word">{{ adjective }}</span> <span class="fun-word">{{ color }}</span> while she was carrying the <span class="fun-word">{{ food }}</span> for today.
   After speaking for a while, <span class="fun-word">{{ color }}</span> gave <span class="fun-word">{{ noun }}</span> to <span class="fun-word">{{ heroine }}</span> freely.
   In exchange, <span class="fun-word">{{ heroine }}</span> fired <span class="fun-word">{{ famous }}</span> and replaced them with <span class="fun-word">{{ color }}</span> -- she was the CEO the whole time!

{% endblock %}