{% extends 'base.html' %}
{% block title %}Ur Madlib!{% endblock %}
{% block content %}
       
   
  <span class="fun-word">{{ heroine }}</span> was an <span class="fun-word">{{ adjective }}</span> <span class="fun-word">{{ noun }}</span> who lived in <span class="fun-word">{{ place }}</span>. They walked outside one day and fell in a puddle of <span class="fun-word">{{ food }}</span>. Their favorite <span class="fun-word">{{ color }}</span> shirt was ruined. Luckily <span class="fun-word">{{ famous }}</span> owned a dry cleaner down the street.
   
   
{% endblock %}